/* Root */

:root {
    --text: #e0e1f1;
    --background: #030308;
    --primary: #8f93d9;
    --secondary: #25297a;
    --accent: #545ad3;
}

/* Body */

body {
    background-color: #030308;
}

/* A */

a {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    color: var(--text);
}

/* P */

p {
    color: var(--text);
}

/* Hs */

h2 {
    color: var(--text);
}

/* Hero Image */
.hero {
    height: 100vh;
    background: url('https://source.unsplash.com/1600x900/?clouds') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text);
    background-color: var(--background);
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}

.form-inline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-inline input[type="search"] {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 100%;
    max-width: 500px;
    border: none;
    background-color: rgba(var(--text), 0.1);
    color: var(--text);
    transition: background-color 0.3s ease;
    height: calc(1.9em + .75rem + 2px) !important;
}

.form-inline input[type="search"]:focus {
    outline: none;
    background-color: rgba(var(--text), 0.2);
}

.form-inline button[type="submit"] {
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--text);
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.form-inline button[type="submit"]:hover {
    background-color: var(--accent);
    border-color: var(--accent);
}

/* Introduction */

.introduction {
    height: 100vh;
}

/* Links */

.links {
    height: 100vh;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.links h2 {
    margin-bottom: 2rem;
}

/* CTA */

.cta {
    height: 50vh;
}

/* Cards and Buttons */

.card {
    background-color: var(--secondary);
    border: none;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.card-title {
    color: var(--text);
    font-weight: bold;
    font-size: 1.25rem;
}

.card-text {
    color: var(--text);
    line-height: 1.6;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--text);
    border-radius: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: var(--accent);
    border-color: var(--accent);
}

/* Footer */

footer {
    background-color: var(--secondary) !important;
    color: var(--text);
}

footer a {
    color: var(--accent);
}

.footer-text {
    color: var(--text)
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 3rem;
    }

    .hero p {
        font-size: 1.5rem;
    }

    .form-inline input[type="search"],
    .form-inline button[type="submit"] {
        font-size: 1.25rem;
    }
}